.button {
  background-color: $white;
  text-transform: lowercase;
  color: $brand-primary;
  font-family: 'Roboto', sans-serif;
  padding: 12px 18px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid $brand-primary;
  transition: background-color 0.2s linear, color 0.2s linear;
  font-size: 22px;

  &:hover {
    background-color: $brand-primary;
    color: $white;
  }

  &-secondary {
    text-transform: uppercase;
    background-color: $brand-secondary;
    padding: 4px 16px;
    font-size: 16px;
    border: 1px solid $brand-primary;
    font-weight: 400;
  }
}
